<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="PhoneListCtrl">
<head>
    <meta charset="utf-8">
    <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="webjars/angularjs/1.2.16/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!-- Sidebar content -->

            Search : <input ng-model="query">
        </div>
        <div class="span10">
            <!-- Body content -->

            <ul class="phones">
                <li ng-repeat="phone in phones | filter:query">
                    {{phone.name}}
                <p>{{phone.snippet}}
            </ul>
        </div>
    </div>
</div>

</body>
</html>
